@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-button {
    @apply flex gap-2 items-center w-fit h-[42px] px-6 rounded-md text-base text-white font-medium transition-colors duration-200 ease-in-out;

    &--primary {
      @apply bg-cyan-500 hover:bg-cyan-600;
    }

    &--secondary {
      @apply bg-transparent border border-cyan-500 hover:bg-cyan-500;
    }
  }
}

@layer utilities {
  .fade-enter-active,
  .fade-leave-active {
    @apply transition-opacity duration-200 ease-in-out;
  }

  .fade-enter-from,
  .fade-leave-to {
    @apply opacity-0;
  }

  .list-move,
  .list-enter-active,
  .list-leave-active {
    @apply transition-all duration-500 ease-in-out;
  }

  .list-enter-from,
  .list-leave-to {
    @apply opacity-0 -translate-x-4;
  }

  .list-leave-active {
    @apply absolute;
  }
}
